@import "../../../../styles/var.scss";
.buyer_data{
    display: flex;
    justify-content: center;
    width: 100%;
}
.bayer_data_wrap{
    width: 850px;
    border: 1px solid #F3F4F7;
    border-radius: 15px;
    box-shadow: 0px 20px 52px rgba(0, 0, 0, 0.15);
    margin-top: 50px;
    .bayer_data_container{
        display: flex;
        flex-direction: column;
        margin: 45px 0 60px 50px;
        h2{
            font-size: $h2;
            color: $color-prymary;
        }
        p{
            font-size: 16px;
            color: #959AAE;
            margin-top: 5px;
        }
        .data_input_container{
            :not(:first-child){
                margin-top: 20px;
            }
            .data_input_wrap{
                position: relative;
                input{
                    width: 530px;
                    height: 65px;
                    border: 1px solid #E7EAEF;
                    border-radius: 10px;
                    margin-top: 15px;
                    font-size: 18px;
                    padding-left: 30px;
                }
                input::placeholder{
                    color: #959AAE;
                }
            }
        }
    }
}
@media screen and (max-width: 425px) {
    .bayer_data_wrap{
        width: 100%;
        margin: 10px;
        .bayer_data_container{
            margin: 20px;
            h2{
                font-size: 22px;
                margin: 0;
            }
            .data_input_container{
                :not(:first-child){
                    margin-top: 5px;
                }
                .data_input_wrap{
                    input{
                        width: 100% !important;
                        font-size: 16px !important;
                        height: 55px !important;
                    }
                }
            }
        }
    }
}