@import "../../../../styles/var.scss";
.basket_delivery_wrap{
    width: 100%;
    display: flex;
    justify-content: center;
}
.delivery_form_checkbox{
    @include flex(row,center ,center );
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #CED2DA;
    margin-left: 25px;
}
.delivery_wrap{
    width: 850px;
    border: 1px solid #F3F4F7;
    border-radius: 15px;
    box-shadow: 0px 20px 52px rgba(0, 0, 0, 0.15);
    margin-top: 50px;
    .delivery_container{
        @include flex(column,flex-start ,flex-start);
        margin: 45px 50px 60px 50px;
        h2{
            font-size: $h2;
            color: $color-prymary;
            margin-bottom: 15px;
        }
        .adres_delivery_title{
            margin: 35px 0 5px 0;
        }
        p{
            font-size: 16px;
            color: #959AAE;
        }
        .data_input_wrap{
            position: relative;
            input{
                width: 530px;
                height: 65px;
                border: 1px solid #E7EAEF;
                border-radius: 10px;
                margin-top: 15px;
                font-size: 18px;
                padding-left: 30px;
            }
            input::placeholder{
                color: #959AAE;
            }
            input:focus{
                outline: none;
             }
        }
        .upload_delivery_item{
            @include flex(row,flex-start ,center );
            margin-top: 25px;
            a{
                @include normal_A();
                font-size: 16px;
                font-weight: 600;
                color: #0074D4;
                margin-left: 10px;
            }
        }
    }   
}
@media screen and (max-width: 450px) {
    .delivery_wrap{
        width: 100%;
        .data_input_wrap{
            width: 100%;
            input{
                width: 100% !important;
                height: 55px !important;
                font-size: 16px !important;
            }
        }
    }
}
@media screen and (max-width: 450px) {
    .delivery_wrap{
        width: 100%;
        margin: 10px;
        .delivery_container{
            margin: 20px;
            h2{
                font-size: 20px;
                margin: 10px 0 !important;
            }
            p{
                margin: 0;
                font-size: 14px;
            }
            .data_input_container{
                :not(:first-child){
                    margin-top: 5px;
                }
            }
        }
    }
}