.catalog-wripper{
    width: 100%;
    display: flex;
    justify-content: center;
}
.catalog-container{
    width: 1115px;
    display: flex;
}
a{
    all: unset;
}

.css-1869usk-MuiFormControl-root{
    margin: 0;
}
.MuiBox-root{
    position: relative;
    top: 22px;
}
.MuiSelect-select{
    font-size: 18px;
}

#outlined-basic{
    top: 4px
}
.css-1u5rjc5-MuiButtonBase-root-MuiButton-root-MuiLoadingButton-root{
    min-width: 50px;
}
.css-11qr2p8-MuiButtonBase-root-MuiButton-root{
    min-width: 50px;
}
.slide-in{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #0f0f0f;
    transform-origin: bottom;
}
.slide-out{position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #0f0f0f;
    transform-origin: top;}