.catalog-wripper{
    width: 100%;
    display: flex;
    justify-content: center;
}
.catalog-container{
    width: 1115px;
    display: flex;
}
a{
    all: unset;
}

.css-1869usk-MuiFormControl-root{
    margin: 0;
}
.MuiBox-root{
    position: relative;
    top: 22px;
}
.MuiSelect-select{
    font-size: 18px;
}

#outlined-basic{
    top: 4px
}