.done_wrap{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 75px;
    .done_item{
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 115px;
        height: 115px;
        background-image: linear-gradient(to top, #24f083, #23e67d, #21db78, #20d172, #1fc76d);
        box-shadow: 0px 0px 50px 15px rgba(0,186,12,0.82);
        background-color: #108C49;
        .done_icon{
            color: #fff;
            width: 40px;
            height: 40px;
        }
    }
    .done_item_text{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        .done_item_header{
            margin: 0;
            font-size: 56px;
        }
        .done_item_description{
            margin: 0;
            margin-top: 20px;
            font-size: 22px;
        }
    }
    .done_orderdata_container{
        margin-top: 75px;
    }
}
@media screen and (max-width: 450px) {
    .done_wrap{
        margin-top: 25px;
        .done_item{
            display: none !important;
        }
        .done_item_text{
            margin-top: 0;
            padding: 15px;
            .done_item_header{
                font-size: 22px;
            }
            .done_item_description{
                font-size: 16px;
            }
        }
        .done_orderdata_container{
            margin-top: 50px;
        }
    }
}


